@import './_placeholders.scss';

$default-left-margin  : 25px;
$default-right-margin : 25px;

.main-title {
    @extend %accordion-base;
    height: 60px;
    .main-title-content {
        margin: auto;
        margin-left: $default-left-margin;
        color: #333;
        font: 18px arial;
    }
}

.accordion-item {
    @extend %accordion-base;
    align-items: center;
    height: 70px;
    .accordion-item-box {
        margin-left: $default-left-margin;
        width: 100%;
        .accordion-title {
            font: 600 14px arial;
            color: #0465ac;
        }
        .accordion-subtitle {
            font: 600 12px arial;
            color: #999;
            margin-top: 12px; // redundant if title's bot margin is defined
        }
        .accordion-content-hidden {
            display: none;
        }
        .accordion-content {
            display: block;
        }
    }
    .accordion-button {
        margin-left: $default-left-margin;
        margin-right: $default-right-margin;
        color: #0465ac;
        i {
            vertical-align: middle;
        }
    }
}

.accordion-item-tall {
    height: 70px;
}
.accordion-item-small {
    height: 50px;
}


